*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body{
  /*background: rgba(103, 1, 70, 1);*/
  background: #FFF;
  padding:0px;
  margin:4.5em 0px 0px 0px;
  color:#FFF;
  font-family: 'Roboto', sans-serif;
}

header{
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  background-color: #813b7c;
  box-shadow: 0px 1px 3px #F24D98;
}
header nav ul{
  list-style: none;
  padding:0px;
  width:100%;
  text-align: center;
  margin:0px;
}
header nav ul li{
  display: inline-block;
}
header nav ul li a{
  display: inline-block;
  text-decoration: none;
  color:#FFF;
  padding: 1em 1.5em;
}

.contenido{
  max-width: 1024px;
  margin:0.5em auto;
  color:#333;
}

.btn{
  display: inline-block;
  padding:1em 1.5em;
  box-shadow: 0px 0px 1px #000;
  border:1px solid #FFF;
  border-radius: 5px;
  text-decoration: none;
  color:white;
}
.btn:hover{
  background-color: rgba(0,0,0,0.1);
}

footer{
  position:fixed;
  bottom: 1em;
  padding:1em;
  left:0px;
  width:100%;
  background: #000;
  color:#fff;
  text-align: center;
}
