.galery{
  clear:both;
  overflow: auto;
  text-align: center;
  width:100%;
  margin:0px auto;
}
.glrItem{
  position:relative;
  float: left;
  width: 23%;
  min-width: 180px;
  min-height: 200px;
  border:1 solid black;
  margin:1%;
  overflow: auto;
  box-shadow: 2px 2px 2px #000;
}
.back{
  width:100%;
  position: absolute;
  top:0;
  left:0;
  background-color: rgba(242, 244, 77, 0.9);
  color:#333;
  min-height: 200px;
  padding:1em;
  opacity:0;
  transition: opacity 0.5s ease;
}
.glrItem:nth-child(2n) .back{
  background-color: rgba(89, 208, 68, 0.9);
}
.glrItem:nth-child(3n) .back{
  background-color: rgba(244, 160, 2, 0.9);
}

.glrImg{
  width:100%;
  position: absolute;
  top:0;
  left:0;
  min-height: 200px;
  overflow: auto;
  transition: opacity 0.5s ease;
}

.glrItem:hover .glrImg{
  opacity: 0.2;
  transition: opacity 0.5s ease;
}
.glrItem:hover .back{
  opacity: 0.96;
  transition: opacity 0.5s ease;
}

.back .btn{
  width: 100%;
}
